/*
    -Display flex
                                                


                                             
                                             /
                                           / 
                            Flex-Direction - 
                                           \ 
                            
                                       /   
                             Flex-wrap -    
                                       \     
                                       
                                       /   
                            Flex-flow- 
                                      \
                                              / 
                                             / 
                            justify-content / 
                                            \ 
                                            \ 

            Flex-container  /             
                                          /
                            \align-itens/ 
                                        \

                                           / 
                                          /  
                                         / 
                            align-content\ 
                                          \ order
                                          \ 

                            gap - px
                                          


    Flex-Box /
             \

                              / 
                             / 
                            / 
                Flex-itens  
                            \
                             \align-self
                              \





*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

.container{
    display: flex; /*aqui no container aplicamos o display flex*/
    margin: 10px;
    border: 1px solid #9758a6;
    width: 900px;
    height: 900px;
    justify-content: center;

}

/*
    main-axis => eixo principal
    cross-axis => eixo secundario
*/

.block{
    background-color: #cdd728;
    border: 5px solid #9758a6;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    text-align: center;
    margin: 10px;
    order: 2;
}