.box{
    width: 50px;
    height: 50px;
    background-color: #009000;
    padding: 50px;
    margin: 10px;
}

.box2{
    width: 50px;
    height: 50px;
    background-color: #9162ff;
    padding: 50px;
    margin: 10px;
}