/*
    -Display flex
                                                


                                             
                                             /
                                           / 
                            Flex-Direction - 
                                           \ 
                            
                                       /   
                             Flex-wrap -    
                                       \     
                                       
                                       /row-nowrap   forma mais rapida de colocar os 2 acima
                            Flex-flow- row-wrap
                                      \colomn-nowrap

                Flex-container /
    Flex-Box /
             \




                Flex-itens





*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

.container{
    display: flex; /*aqui no container aplicamos o display flex*/
    flex-flow: row-reverse wrap; /* é como eu colocar flex direction e flex wrap em uma linha*/
    margin: 10px;
    border: 1px solid #9758a6;
    width: 300px;
}

.block{
    width: 100px; 
    height: 100px;
    background-color: #cdd728;
    border: 5px solid #9758a6;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    text-align: center;
    margin: 10px;
}