/*
    -Display flex
                                                


                                             
                                             /
                                           / 
                            Flex-Direction - 
                                           \ 
                            
                                       /   
                             Flex-wrap -    
                                       \     
                                       
                                       /   
                            Flex-flow- 
                                      \
                                              / 
                                             / 
                            justify-content / 
                                            \ 
                                            \ 

            Flex-container  /             
                                          /
                            \align-itens/ 
                                        \

                                           / strech
                                          /  flex-start
                                         / flex-end
                            align-content\ center
                                          \ space-between
                                          \ space-around
                                          


    Flex-Box /
             \




                Flex-itens





*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

.container{
    display: flex; /*aqui no container aplicamos o display flex*/
    flex-direction: row;
    justify-content: center; /* alinhou ao centro*/
    flex-wrap: wrap;
    align-content: center;
    margin: 10px;
    border: 1px solid #9758a6;
    width: 300px;
    height: 900px;
}

/*
    main-axis => eixo principal
    cross-axis => eixo secundario
*/

.block{
    width: 100px; 
    height: 100px;
    background-color: #cdd728;
    border: 5px solid #9758a6;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    text-align: center;
    margin: 10px;
}